<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8"> 
    <title>登录调试页面123223</title> 
</head>

<body>

    <form action="/users/register" method="post">
        username: <input type="text" name="username"><br>
        password: <input type="text" name="password"><br>
        <input type="submit" value="注册">
    </form>

    <form action="/users/login" method="post">
        username: <input type="text" name="username"><br>
        password: <input type="text" name="password"><br>
        <input type="submit" value="登录">
    </form>

    <br>
    <form action="/users/test" method="get">
        <input type="submit" value="测试网站(需登录才能进入)">
    </form>

    <form action="/users/logout" method="post">
        <input type="submit" value="登出">
    </form>

</body>

</html>